.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  padding: 2rem 0%;
  gap: 22px;
  .title, .description {
    padding: 0 5%;
  }
  .description {
    text-align: justify;
  }
}

.project-video {
  width: 90%;
    // padding: 0 5%;
    margin: auto;
  max-width: 1250px;
  border-radius: 12px; // optional
  outline: none;
}
